[submodule "code-slicer/joern"]
	path = code-slicer/joern
	url = https://github.com/octopus-platform/joern.git
[submodule "Devign"]
	path = Devign
	url = https://github.com/bstee615/Devign
[submodule "cfactor"]
	path = cfactor
	url = https://github.com/bstee615/cfactor.git
